/* Головний колір білий #FFFFFF; */
/* Головний колір чорний #2F303A */
/* Синій колір #2196F3 */
:root {
    --primary-text-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

h1,
h2,
p {
    margin: 0;
}

.page-body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.header-link {
    text-decoration: none;
    color: inherit;
}

.adress-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

ul {
    list-style: none;
}

/* page-header */
.page-header {
    background-color: var(--primary-text-color)
}

/*Webstudio */
.web {
    color: #2196F3;
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo {
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}



/* Site-nav */
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}

/* Mail-Tel header and footer  */
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

/* Header styles */

.page-header {
    padding: 32px 0;
    background-color: var(--primary-text-color);
}

.page-header .container {
    display: flex;
    align-items: center;
}

.page-header .logo {
    margin-right: 93px;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.header-list {
    display: flex;
    align-items: center;
    margin-right: 255px;
}

.contacts {
    display: flex;
    align-items: center;
}

.header-contacts {
    margin-right: 0;
}

.header-list .item:not(:first-child) {
    margin-left: 50px;
    align-items: center;
}

.header-tel {
    margin-left: 50px;
}


/*  section-tittle*/
.section-title {
    background-color: #2F303A;
    padding-top: 195px;
    padding-bottom: 195px;
    text-align: center;

}

.title-button {
    width: 216px;
    height: 50px;
}


.title {
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

.feature-list {
    display: flex;
    padding-top: 125px;
    padding-bottom: 125px;
    margin: 0;
    padding-left: 0;
}

.feature-list .item {
    width: 270px;
}

.feature-list .item:not(:first-child) {
    margin-left: 45px;
}

.title-button {
    background-color: #2196F3;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

/* Наші послуги у портфоліо*/
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 93px;
    margin: 0;
}

.button-portfolio {
    margin-left: 15px;
}


/* Наші переваги */
.title-medium,
.name,
.services {
    font-size: 14px;
    line-height: 1.2;
    color: var(--title-text-color)
}

.text,
.position,
.types {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Чим займаємось */
.blok-gallery {
    background-color: #F5F4FA;
}

.title-staff {
    text-align: center;
}

/* Staff */
.staff {
    background-color: #F5F4FA;
}

.title-staff,
.title-gallery-staff {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.blok-gallery {
    padding-top: 0;
    padding-bottom: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    padding-left: 0;
}

.photo-gallery:not(:first-child) {
    margin-left: 30px;
}

.staff-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0%;
    padding-left: 0;
}

.photo-staff:not(:first-child) {
    margin-left: 30px;
}

/* Footer */
.footer {
    background-color: #2F303A;
}

.adress {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color)
}

/* Button portfolio */
.all {
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-text-color)
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    color: var(--title-text-color)
}


.logo-footer {
    text-decoration: none;
    padding-left: 0;
    margin-top: 60;
}

.all-contacts {
    padding-left: 0;
    padding-bottom: 100px;

}

.footer .container {
    padding-top: 60px;
}

.gallery-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 90px;
    padding-left: 0;
}

.gallery-card .gallery-portfolio:not(:first-child) {
    margin: 10px;
}

.card {
    text-decoration: none;
}